body {
  background-color: whitesmoke;
}
h1 {
  color: teal;
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 0.5em;
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}